AIRFLOW_UID=AIRFLOW_ID
AIRFLOW_JWT_SECRET=python -c "import secrets; print(secrets.token_hex(32))"


GCP_PROJECT_ID=GCP_PROJECT_ID
GCP_TEMP_BUCKET=TEMP_BUCKET_GCS
GCP_BRONZE_DATASET_ID=BRONZE_DATA
GCP_SILVER_DATASET_ID=SILVER_DATA
GCP_GOLD_DATASET_ID=GOLD_DATA
HOST_PROJECT_PATH=.