.env
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.idea/
target/
dbt_packages/
dbt.log
logs/
*.log
*.db
*.json
*.parquet
downloaded_files/
driver_fixing.lock
latest_report/
saved_screenshots/
dashboard.html
data/
.user.yml
airflow/database/airflow.db
